body{
background color: #E5E5E5;
font-family: Roboto, sans-serif;}
/*лого шапка logo*/
.logo-start .logo :{
font-style: 400;
font-weight: 700;
font-size: 1.2;
line-height: 31px;}
.logo-start{
    color: #2196F3;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: Raleway;
    font-style:400;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.4;}
.logo{
    color: #212121;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: Raleway;
    font-style: 400;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.4;}

    .logo-my{

    color: #FFFFFF;

    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: Raleway;
    font-style: 400;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.4;}
    /*список навигации link*/
    .link {
        color: #212121;
        font-style: 400;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;}   
    .link:hover{
        color: #2196F3;

        font-style: 400;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;}
        
            /* Эффективные решения для вашего бизнеса */

    .hiro-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;}
    /* Внимание к деталям,Пунктуальность,Планирование,Современные технологии*/
    h2{
        color: #212121;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;}

        .paragraph {
        color: #757575;
        font-style: 400;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;}
/* Чем мы занимаемся, Наша команда */
    .box{
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;}
/* Наша команда имена */
h3{
color: #212121;

font-style: 400;
font-weight: 500;
font-size: 16px;
line-height: 19px;}

.team{
    font-style: 400;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #757575;}

/*мобильный,мыло*/

.items:hover{
    color: #2196F3;
    font-style: 400;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;}
.items{color: #757575;
    font-style: 400;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;}

.mobile, .mail{
    color: rgba(255, 255, 255, 0.6);
font-style: 400;
font-weight: 400;
font-size: 14px;
line-height: 1.7}

/* Все,Веб-сайты,Приложения,Дизайн,Маркетинг*/
    .site{
    font-style: 400;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color:  #212121;}
    .site:hover{
    font-style: 400;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #FFFFFF;}

    /* заголовки проектов */
    h3{
        font-style: 400;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        color: #212121;}
    .project{
        font-style: 400;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.9;

        color: #757575;}

 
        .text{background: #2F303A;}
        .background{background: #F5F4FA;}
        ul{list-style: none;}
         address{
        font-style: 400;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
  
        color: #FFFFFF}