body{
background-color: #E5E5E5;}
.logo-start{color: #2196F3;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.4;}
.logo{ color: #212121;   width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.4;}

.logo-my{color: #FFFFFF;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.4;}

 .link {color: #212121;}   
.link:hover{color: #2196F3;}
.text{background: #2F303A;}
     
.subtitle {background: #F5F4FA;}
.hiro-title{color: #FFFFFF;}

.items:hover{color: #2196F3;}
.items{color: #757575;}
p{color: #757575;}
.mobile, .mail{color: rgba(255, 255, 255, 0.6);}