:root
body{background-color:#E5E5E5;}
ul{list-style: none;}
.logo-start{color: #2196F3}
.logo{color: #212121}
.my-logo{color: #FFFFFF;}

.site-nav .link {color: #212121;}
.site-nav .link:hover,
.site-nav .link:focus a{color:#2196F3;}

.hover {background: #2F303A;}
.hiro-title{color: #FFFFFF;}
h2,h3{color: #212121;}
p{color: #757575;}

.mail{color: #757575;}
.mobile{color: #757575;}
.address{color: #FFFFFF;}
